node_modules

# Output
.output
.vercel
.netlify
.kiro
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/docs
/scripts

preprocess_category_graph_data.py 
preprocess_graph_data.py
preprocess_recommendation_counts.py